# Présentation des données :

In [9]:
# Telechargement des données 
import pandas as pd
import numpy as np
df= pd.read_csv("incom2024_delay_example_dataset.csv")

In [10]:
df.head()

,payment_type,profit_per_order,sales_per_customer,category_id,category_name,customer_city,customer_country,customer_id,customer_segment,customer_state,...,order_region,order_state,order_status,product_card_id,product_category_id,product_name,product_price,shipping_date,shipping_mode,label
0,DEBIT,34.448338,92.49099,9.0,Cardio Equipment,Caguas,Puerto Rico,12097.6830,Consumer,PR,...,Western Europe,Vienna,COMPLETE,191.0,9.0,Nike Men's Free 5.0+ Running Shoe,99.99,2015-08-13 00:00:00+01:00,Standard Class,-1
1,TRANSFER,91.193540,181.99008,48.0,Water Sports,Albuquerque,EE. UU.,5108.1045,Consumer,CA,...,South America,Buenos Aires,PENDING,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2017-04-09 00:00:00+01:00,Standard Class,-1
2,DEBIT,8.313806,89.96643,46.0,Indoor/Outdoor Games,Amarillo,Puerto Rico,4293.4478,Consumer,PR,...,Western Europe,Nord-Pas-de-Calais-Picardy,COMPLETE,1014.0,46.0,O'Brien Men's Neoprene Life Vest,49.98,2015-03-18 00:00:00+00:00,Second Class,1
3,TRANSFER,-89.463196,99.15065,17.0,Cleats,Caguas,Puerto Rico,546.5306,Consumer,PR,...,Central America,Santa Ana,PROCESSING,365.0,17.0,Perfect Fitness Perfect Rip Deck,59.99,2017-03-18 00:00:00+00:00,Second Class,0
4,DEBIT,44.722590,170.97824,48.0,Water Sports,Peabody,EE. UU.,1546.3980,Consumer,CA,...,Central America,Illinois,COMPLETE,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2015-03-30 00:00:00+01:00,Standard Class,1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15549 entries, 0 to 15548
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type              15549 non-null  object
 1   profit_per_order          15549 non-null  float64
 2   sales_per_customer        15549 non-null  float64
 3   category_id               15549 non-null  float64
 4   category_name             15549 non-null  object
 5   customer_city             15549 non-null  object
 6   customer_country          15549 non-null  object
 7   customer_id               15549 non-null  float64
 8   customer_segment          15549 non-null  object
 9   customer_state            15549 non-null  object
 10  customer_zipcode          15549 non-null  float64
 11  department_id             15549 non-null  float64
 12  department_name           15549 non-null  object
 13  latitude                  15549 non-null  float64
 14  longitude                 15549 non-null  float64
 15  market                    15549 non-null  object
 16  order_city                15549 non-null  object
 17  order_country             15549 non-null  object
 18  order_customer_id         15549 non-null  float64
 19  order_date                15549 non-null  object
 20  order_id                  15549 non-null  float64
 21  order_item_cardprod_id    15549 non-null  float64
 22  order_item_discount       15549 non-null  float64
 23  order_item_discount_rate  15549 non-null  float64
 24  order_item_id             15549 non-null  float64
 25  order_item_product_price  15549 non-null  float64
 26  order_item_profit_ratio   15549 non-null  float64
 27  order_item_quantity       15549 non-null  float64
 28  sales                     15549 non-null  float64
 29  order_item_total_amount   15549 non-null  float64
 30  order_profit_per_order    15549 non-null  float64
 31  order_region              15549 non-null  object
 32  order_state               15549 non-null  object
 33  order_status              15549 non-null  object
 34  product_card_id           15549 non-null  float64
 35  product_category_id       15549 non-null  float64
 36  product_name              15549 non-null  object
 37  product_price             15549 non-null  float64
 38  shipping_date             15549 non-null  object
 39  shipping_mode             15549 non-null  object
 40  label                     15549 non-null  int64
dtypes: float64(23), int64(1), object(17)
memory usage: 4.9+ MB

In [12]:
df.isna().sum()

payment_type                0
profit_per_order            0
sales_per_customer          0
category_id                 0
category_name               0
customer_city               0
customer_country            0
customer_id                 0
customer_segment            0
customer_state              0
customer_zipcode            0
department_id               0
department_name             0
latitude                    0
longitude                   0
market                      0
order_city                  0
order_country               0
order_customer_id           0
order_date                  0
order_id                    0
order_item_cardprod_id      0
order_item_discount         0
order_item_discount_rate    0
order_item_id               0
order_item_product_price    0
order_item_profit_ratio     0
order_item_quantity         0
sales                       0
order_item_total_amount     0
order_profit_per_order      0
order_region                0
order_state                 0
order_status                0
product_card_id             0
product_category_id         0
product_name                0
product_price               0
shipping_date               0
shipping_mode               0
label                       0
dtype: int64

# Analyse descriptive